.loginContainer {
    background-image: url(../design/images/signin.jpg);
      min-height: 100%;
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      position: fixed;
    top: 0;
    left: 0;
}